<nav
  class="bg-white px-2 sm:px-4 py-2.5 dark:bg-indigo-700 fixed w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://flowbite.com/" class="flex items-center">
      <img src="../../assets/hr.png" alt="logo" class="mr-2 w-10 h-10" />
      <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">HELLO HR</span>
    </a>
    <div (click)="logout()" class="flex md:order-2">
      <button type="button"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Logout
      </button>
    </div>
  </div>
</nav>

<div class="prose-base flex m-5 w-100 p-5 mt-[100px] justify-around flex-row">
  <div class="flex flex-row w-50">
    <div class="block rounded-lg shadow-lg text-white max-w-sm text-center bg-indigo-500">
      <div class="py-3 px-6 border-b border-gray-300">
        Total Number Applicants
      </div>
      <div class="p-6">
        <h5 class="text-white text-2xl font-medium mb-2">{{ totalNumbers }}</h5>
        <p class="text-white text-base mb-4">people</p>
      </div>
    </div>
    <div class="block rounded-lg shadow-lg text-white max-w-sm text-center bg-cyan-500 border ml-2">
      <div class="py-3 px-6 border-b border-gray-300">Round One Applicants</div>
      <div class="p-6">
        <h5 class="text-white text-2xl font-medium mb-2">
          {{ roundOneNumbers }}
        </h5>
        <p class="text-white text-base mb-4">people</p>
      </div>
    </div>

    <div class="block rounded-lg shadow-lg text-white max-w-sm text-center bg-lime-900 border ml-2">
      <div class="py-3 px-6 border-b border-gray-300">Round two Applicants</div>
      <div class="p-6">
        <h5 class="text-white text-2xl font-medium mb-2">
          {{ roundTwoNumbers }}
        </h5>
        <p class="text-white text-base mb-4">people</p>
      </div>
    </div>

    <div class="block rounded-lg shadow-lg text-white max-w-sm text-center bg-green-700 border ml-2">
      <div class="py-3 px-6 border-b border-gray-300">
        Final round Applicants
      </div>
      <div class="p-6">
        <h5 class="text-white text-2xl font-medium mb-2">
          {{ finalRoundNumbers }}
        </h5>
        <p class="text-white text-base mb-4">people</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="
    febBatchNumbers || janBatchNumbers || marBatchNumbers || junBatchNumbers
  ">
  <app-user-line-chart [febBatchNumbers]="febBatchNumbers" [uniqueMonths]="uniqueMonths"
    [janBatchNumbers]="janBatchNumbers" [marBatchNumbers]="marBatchNumbers"></app-user-line-chart>
</div>
<div class="prose-base flex justify-center mt-[10px]">
  <p class="text-sm text-black">number of students per month</p>
</div>

<label class="relative block float-right mr-[9%] mb-4">
  <span class="sr-only">Search</span>
  <span class="absolute inset-y-0 left-0 flex items-center pl-2"> </span>
  <input #typing (change)="gettingInput(typing.value)"
    class="placeholder:italic placeholder:text-slate-400 block bg-white w-50 border border-slate-300 rounded-md py-2 pl-9 pr-3 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1 sm:text-sm"
    placeholder="Search by name..." type="text" name="search" />
</label>
<section class="container mx-auto p-6 font-sans">
  <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr class="text-xs tracking-normal text-left text-white bg-indigo-800 border-b border-indigo-700">
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">PhoneNumber</th>
            <th class="px-4 py-3">Batch</th>
            <th class="px-4 py-3">GithubUserName</th>
            <th class="px-4 py-3">Applied Date</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Details</th>
          </tr>
        </thead>

        <tbody class="bg-white">
          <tr *ngFor="let user of applicants" class="text-gray-700">
            <td class="px-4 py-3 border">
              <div class="flex items-center text-sm">
                {{ user.firstName }}
              </div>
            </td>
            <td class="px-4 py-3 text-ms border">
              {{ user.email }}
            </td>

            <td class="px-3 py-3 text-sm border">{{ user.phoneNumber }}</td>
            <td class="px-3 py-3 text-sm border">{{ user.batchName }}</td>

            <td class="px-3 py-3 text-sm border">
              {{ user.githubUserName }}
            </td>
            <td class="px-3 py-3 text-sm border">
              {{ user.appliedDate | date }}
            </td>

            <td class="px-4 py-3 text-xs border">
              <span class="px-2 py-1 leading-tight text-blue-600 bg-green-100 rounded-sm">
                {{ user.status }}
              </span>
            </td>
            <td class="px-4 py-3 text-xs border">
              <a routerLink="/dashboard/singleuser/{{ user._id }}"><button type="button"
                  class="text-white bg-gradient-to-r from-indigo-500 to-indigo-900 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 text-xs rounded-lg px-5 py-2.5 text-center mr-2 mb-2">
                  View
                </button>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<router-outlet></router-outlet>
